<app-global-error></app-global-error>

<div class="container flex flex-col items-center mx-auto">
  <h1>{{title | titlecase}}</h1>

  <input 
    type="text"
    class="my-2 py-2 px-4 border border-gray-300 rounded w-3xl"
    placeholder="products filter"
    [(ngModel)]="term"
  >

  <p *ngIf="loading">loading...</p>

  <div *ngIf="productsSerice.products">
    <app-product 
      *ngFor="let product of productsSerice.products | filterProducts: term; let i = index" 
      [product]="product"
    >

    </app-product>
  </div>

  <app-modal *ngIf="modalService.isVisible$ | async" title="create new product">
    <app-create-product></app-create-product>
  </app-modal>

  <button 
    class="bg-sky-500 text-white p-2 rounded cursor-pointer mb-2 fixed bottom-5 right-5"
    (click)="modalService.open()"
  >
    add new
  </button>
</div>